<div class="outer-component" data-ng-init="getComments();">
    <form>
        Name* : <input type="text" placeholder="Name" class="name-style" data-ng-model="$parent.name"> <br> <br>
        <textarea
            name=""
            id=""
            cols="65"
            rows="5"
            placeholder="Type a comment ..."
            data-ng-model="$parent.comment"
        >
        </textarea>
        <br>
        <button
            class="btn btn-danger post-comm" type="submit"
            data-ng-click="submitComment();"
        >
            Post comment
        </button>
        <div data-ng-if="comments.length !== 0">
            <div data-ng-repeat="inst in comments;" class="repeat-div-con">
                <div class="renderer row">
                    <div class="col-md-10">
                        <b>{{ $index + 1 }}.</b> <span style=" font-size: 12px;""> {{ inst['name'] }} </span>  <span style="font-size: 11px;">commented at {{ inst['time'] }} </span>
                        <br><br>
                        <div style="margin-left: 3%;"> {{ inst['message'] }} </div>
                    </div>
                    <div class="col-md-2">
                        <img src="../img/thumbsUP.png" alt="" style="height: 25px;" srcset="" data-ng-click="upvoteComment(inst['id']);"> <span style="font-size: 11px;"> {{ inst['upvotes'] }} </span> <br>
                        <img src="../img/thumbsDOWN.png" alt="" style="height: 25px;" srcset="" data-ng-click="downvoteComment(inst['id']);"> <span style="font-size: 11px;"> {{ inst['downvotes'] }} </span> <br>
                    </div>
                </div>
                
            </div>
        </div>
    </form>
</div>