<div>
    <div>
        <span> Welcome {{ username }}. </span>
    </div>
    <hr>
    <div class="outer-layer">
        <div class="outer-in-question">
            <div id="question"></div>
        </div>
        <div class="outer-in-answer">
            <div class="about-options">
                Guess the option below which matches the given number in the question:
                <span class="score-banner">Score: {{ correctAnswer }} / {{ limit }} </span>
                <hr>
            </div>
            <div class="options">
                <div class="options" data-ng-show="showAnswers">
                    <div id="answer-1" class="answer-style"></div>
                    <div id="answer-2" class="answer-style"></div>
                    <div id="answer-3" class="answer-style"></div>
                </div>
                <div class="options" data-ng-show="!showAnswers" data-ng-click="handleSubmit()">
                    <div class="answer-style-ico">
                        <img src="../images/question.png" class="image-style-question" alt="" srcset="">
                    </div>
                    <div class="answer-style-ico">
                        <img src="../images/question.png" class="image-style-question" alt="" srcset="">
                    </div>
                    <div class="answer-style-ico">
                        <img src="../images/question.png" class="image-style-question" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>